.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* margin-top: 8vh; */
  
}

.themeButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 950px) {
  .body {
    margin-top: 3rem;
    margin-left: 2.9rem;
    margin-right: 0rem;
    padding-right: 3rem;
  }
}
