.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* margin-top: 8vh; */
  
}

.themeButton {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 950px) {

  .themeButton {
    margin-top:0rem;
    margin-bottom: 1rem;
  }

  .body {
    margin-top: 1rem;
    margin-left: 2.9rem;
    margin-right: 0rem;
    padding-right: 3rem;
  }
}
